@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_container {
  padding-top: 72px;
  background-color: #f8f8f8;
}
.footer {
  background-color: #ec4133;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 741px;
}

.footer_border {
  margin-top: -1px;
  width: 100%;
}

.footer_illustration {
  width: 158px;
  margin: 29px auto 0;
}

.footer_maintext {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  font-size: 40px;
  line-height: 39, 68px;
  text-align: center;
  width: 70%;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 30px;
}

.footer_text {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  width: 80%;
  text-align: center;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer_illustration {
    margin-top: 105px;
    margin-bottom: 30px;
  }

  .footer_maintext {
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 27px;
  }
}
.navbar {
  display: flex;
  justify-content: center;
}

.navbar_title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: flex-start;
    margin-left: 120px;
  }

  .navbar_title {
    font-size: 18px;
  }
}
.team {
  width: 80%;
  margin: 0 auto;
}

.team_header--title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin-top: 0;
  width: 228px;
  max-height: 76px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgb(248, 248, 248) 50%, rgb(231, 231, 231) 50%);
}

.team_header--image {
  display: none;
}

@media screen and (min-width: 768px) {
  .team {
    width: 100%;
  }

  .team_header--title {
    margin-left: 95px;
    font-size: 75px;
    margin-bottom: 60px;
    width: 391px;
  }

  .team_header {
    display: flex;
    justify-content: space-between;
  }

  .team_header--image {
    display: flex;
    margin-right: 95.18px;
  }
}
.team_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.team_item--image {
  margin: 0 auto;
}

.team_item--name {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.team_item--title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .team_item--image {
    margin-bottom: 18px;
  }

  .team_item--name {
    text-align: start;
    margin-left: 100px;
  }

  .team_item--title {
    text-align: start;
    margin-left: 100px;
    margin-bottom: 177.11px;
  }
}

/*# sourceMappingURL=main.chunk.css.map*/